<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.anaheimelectronics" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".launch.AEMainActivity"
            android:theme="@style/AppBaseTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".recyclerview.AERecycleViewActivity"
            android:theme="@style/AppBaseTheme"
            android:label="RecyclerView"
            android:parentActivityName=".launch.AEMainActivity"
            >
        </activity>

    </application>

</manifest>
